/* Events.css */

.posters-container {
    padding: 20px;
}

.posters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.poster-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
}

.poster-img {
    width: 100%;
    border-radius: 4px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.day, .year{
    text-align: center;
}