.navbar-container {
	display: flex;
	width: 90vw;
	align-items: center;
	/* Center items vertically */
	justify-content: space-between;
	/* Space items evenly */
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 450px;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	flex: 0.5;
	margin-top: 30px;
	margin-right: 10px;
	position: relative;
	-webkit-transition: all 700ms ease-in;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	/* Added box shadow */
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
	.container {
		width: 100vw;
	}

	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}

.panel-heading {
	font-weight: 700;
	font-size: 20px;
	font-style: italic;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: top left;
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
	transition: transform 0.3s ease-in-out;
}

.panel.active .panel-heading {
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.panel:hover {
	transform: translateY(-5px);
	/* Lift effect on hover */
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
	/* Increased shadow on hover */
}

.centered-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	background: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 20px;
	font-style: italic;
	color: #000;
	/* Text color */
	text-decoration: none;
	/* Remove underline */
	outline: none;
	/* Remove focus outline */
	color: #fff;
}
